
   INFO  Running migrations.  

  0001_01_01_000001_create_user_groups_table .......................................................................................................  
  Ôçé create table `user_groups` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `description` varchar(255) not null default '', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `user_groups` add unique `user_groups_name_unique`(`name`)  
  0001_01_01_000002_create_users_table .............................................................................................................  
  Ôçé create table `users` (`id` bigint unsigned not null auto_increment primary key, `group_id` bigint unsigned null, `username` varchar(255) not null, `fullname` varchar(255) not null default '', `password` varchar(255) not null default '', `is_active` tinyint(1) not null default '0', `is_admin` tinyint(1) not null default '0', `remember_token` varchar(100) null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `users` add constraint `users_group_id_foreign` foreign key (`group_id`) references `user_groups` (`id`)  
  Ôçé alter table `users` add unique `users_username_unique`(`username`)  
  0001_01_01_000003_create_settings_table ..........................................................................................................  
  Ôçé create table `settings` (`key` varchar(255) not null, `value` text not null, `lastmod_datetime` datetime null, `lastmod_user_id` bigint unsigned null, `lastmod_username` varchar(255) not null default '', primary key (`key`)) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `settings` add constraint `settings_lastmod_user_id_foreign` foreign key (`lastmod_user_id`) references `users` (`id`) on delete set null  
  0001_01_01_000003_create_user_activities_table ...................................................................................................  
  Ôçé create table `user_activities` (`id` bigint unsigned not null auto_increment, `user_id` bigint unsigned null, `username` varchar(255) not null default '', `datetime` datetime null, `type` varchar(255) not null default '', `name` varchar(255) not null default '', `description` text not null, `data` json null, primary key (`id`)) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `user_activities` add constraint `user_activities_user_id_foreign` foreign key (`user_id`) references `users` (`id`) on delete set null  
  Ôçé alter table `user_activities` add index `user_activities_datetime_index`(`datetime`)  
  Ôçé alter table `user_activities` add index `user_activities_type_index`(`type`)  
  Ôçé alter table `user_activities` add index `user_activities_username_index`(`username`)  
  0001_01_01_000004_create_user_group_acesses_table ................................................................................................  
  Ôçé create table `user_group_accesses` (`group_id` bigint unsigned not null, `resource` varchar(255) not null, `allow` tinyint(1) not null default '1', primary key (`group_id`, `resource`)) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `user_group_accesses` add constraint `user_group_accesses_group_id_foreign` foreign key (`group_id`) references `user_groups` (`id`) on delete cascade  
  0001_01_01_000010_create_service_orders_table ....................................................................................................  
  Ôçé create table `service_orders` (`id` bigint unsigned not null auto_increment primary key, `customer_name` varchar(100) not null, `customer_contact` varchar(100) not null, `customer_address` varchar(200) not null, `device_type` varchar(100) not null, `device` varchar(100) not null, `equipments` varchar(200) not null, `device_sn` varchar(100) not null, `problems` varchar(200) not null, `actions` varchar(200) not null, `date_checked` date null, `date_work_begin` date null, `date_completed` date null, `service_status` tinyint unsigned not null, `order_status` tinyint unsigned not null, `date_received` date not null, `date_taken` date null, `down_payment` decimal(8, 0) not null default '0', `estimated_cost` decimal(8, 0) not null default '0', `total_cost` decimal(8, 0) not null default '0', `payment_status` tinyint unsigned not null default '0', `technician` varchar(255) not null, `notes` text not null, `created_at` timestamp null, `updated_at` timestamp null, `deleted_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  0001_01_01_000020_create_customers_table .........................................................................................................  
  Ôçé create table `customers` (`id` bigint unsigned not null auto_increment primary key, `active` tinyint(1) not null default '1', `name` varchar(255) not null, `phone` varchar(255) not null default '', `address` text null, `notes` text null, `created_at` timestamp null, `updated_at` timestamp null, `deleted_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  0001_01_01_000030_create_suppliers_table .........................................................................................................  
  Ôçé create table `suppliers` (`id` bigint unsigned not null auto_increment primary key, `active` tinyint(1) not null default '1', `name` varchar(255) not null, `phone` varchar(255) not null default '', `address` text null, `notes` text null, `created_at` timestamp null, `updated_at` timestamp null, `deleted_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  0001_01_01_000040_create_product_categories_table ................................................................................................  
  Ôçé create table `product_categories` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  0001_01_01_000041_create_products_table ..........................................................................................................  
  Ôçé create table `products` (`id` bigint unsigned not null auto_increment primary key, `category_id` bigint unsigned null, `supplier_id` bigint unsigned null, `type` tinyint unsigned not null default '0', `active` tinyint(1) not null default '1', `code` varchar(255) not null, `description` varchar(255) not null default '', `barcode` varchar(255) not null default '', `stock` int not null default '0', `uom` varchar(255) not null default '', `cost` decimal(12, 0) not null default '0', `price` decimal(12, 0) not null default '0', `notes` text null, `created_at` timestamp null, `updated_at` timestamp null, `deleted_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_general_ci'  
  Ôçé alter table `products` add constraint `products_category_id_foreign` foreign key (`category_id`) references `product_categories` (`id`) on delete set null  
  Ôçé alter table `products` add constraint `products_supplier_id_foreign` foreign key (`supplier_id`) references `suppliers` (`id`) on delete set null  
  Ôçé alter table `products` add unique `products_code_unique`(`code`)  

